:root {
    --primary-text-color: #757575;
    --color-white :#ffffff;
    --color-black :#000000;
    --title-text-color :#212121;
    --accent-color :#2196F3;
    --team-color :#F5F4FA;
    --footer-color :#2F303A;
}

body {
    color: var(--primary-text-color)
    background-color: var(--color-white)
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 1600px;
}

a {
    color: var(--title-text-color)
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid tomato; */
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* header */

.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;

    margin-top: 24px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 93px;
}

.part {
    color: var(--color-black);
}

.header .link {
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.header .contact {
    color: var(--primary-text-color);
    letter-spacing: 0.28px;
    text-decoration: none;
}

.header .contact:hover,
.header .contact:focus {
    color: var(--accent-color);
}

.header {
    background-color: var(--color-white);
    margin-left: auto;
    margin-right: auto;
}

.header-section {
    display: flex;
    justify-content: space-between;
}

.header-section .header-nav {
    display: flex;
    align-items: center;
}

.header-section .link-list {
    display: flex;
    gap: 50px;
}

.header-section .contact-list {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
}

.link {
    display: block;
    margin: 32px 0;
}

/* hero  */

.hero {
    display: block;
    background-color: var(--footer-color);

    padding-top: 200px;
    padding-bottom: 280px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    color: var(--color-white);
    margin-bottom: 30px;

    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 2.64px;
}

.hero .button {
    display: block;
    color: var(--color-white);
    background-color: var(--accent-color);
    padding: 10px 32px;
    width: 216px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    text-align: center;
    text-decoration: none;
}


/* advanced */

.advanced {
    margin-top: 94px;
}

.advanced .container {
    display: flex;
    padding: 0px;
    justify-content: space-between;
}

.advanced-list {
    display: flex;
    height: 98px;
    gap: 30px;
    margin: 0px;
}

.advanced-title {
    color: var(--title-text-color);
    margin-bottom: 10px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.advanced-text {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}


/* photo */

.photo {
    display: flex;
    margin-top: 94px;
    margin-bottom: 94px;
}

.photo-title {
    color: var(--title-text-color);
    margin-bottom: 50px;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;
}

.photo .photo-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


/* team */

.team {
    background-color: var(--team-color);
    padding-top: 94px;
}

.team-title {
    color: var(--title-text-color);
    margin-bottom: 50px;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-align: center;
}

.team-card-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.team-card-item {
    background-color: var(--color-white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 94px;
}

.name-title {
    color: var(--title-text-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center;
}

.team-text {
    color: var(--primary-text-color);
    margin-bottom: 30px;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    text-align: center;
}


/* footer */

.footer {
    width: 1600px;
    height: 252px;
    background-color: var(--footer-color);
    margin-top: 94px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.footer .logo {
    margin-top: 60px;
    margin-bottom: 0px;
    letter-spacing: 0.78px;
}

.footer .link {
    color: var(--color-white);
    margin-top: 20px;
    margin-bottom: 0px;

    letter-spacing: 0.42px;
    text-decoration: none;
    font-style: normal;
    line-height: 1.7;
}

.footer .address-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer .contact {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.footer .part {
    color: var(--color-white);
}



/* portfolio */

.portfolio {
    margin-top: 94px;
}

.portfolio .container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.button-list {
    display: flex;
    gap: 30px;
}

.portfolio .button {
    display: block;
    color: var(--title-text-color);
    background-color: var(--team-color);
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.48px;
}

.portfolio .button:hover,
.portfolio .button:focus {
    color: var(--color-white);
    background-color: var(--accent-color);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    width: 370px;
    border: 1px solid #EEE;
    background: #FFF;
}

.portfolio-title {
    color: var(--title-text-color);
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;

    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.48px;
}

.portfolio-text {
    color: var(--primary-text-color);
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 4px;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.48px;
}
